<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content OpenMap_layercontrols_base"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <div class="flipthis-wrapper">
                     <span aria-hidden="true">&times;</span>
                   </div>
               </button> 
               <h4 class="modal-title">layercontrol</h4></div>
            <div class="modal-body" id="w4ModalArea">
               <div data-dojo-attach-point="controllerbase"></div> 
            </div> 
        </div>

    </div>
</div>