
<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <div class="flipthis-wrapper">
                     <span aria-hidden="true">&times;</span>
                   </div>
               </button> 
               <h4 class="modal-title">Print tool</h4></div>
            <div class="modal-body" id="w6ModalArea">



            </div> 
        </div>

    </div>
</div>



<div class="BookmarksWidget">
    <div id="bookmarkList" data-dojo-attach-point="bookmarkList" class="list"></div>
    <input class="bookmark" id="bookmark" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="bookmark"/>
    <button data-dojo-type="dijit/form/Button" label="Add" data-dojo-attach-event="onClick:addBookmark" data-dojo-props="iconClass:'addIcon',showLabel:false"/>
</div>

