<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <div class="flipthis-wrapper">
                     <span aria-hidden="true">&times;</span>
                   </div>
               </button> 
               <h4 class="modal-title">Measurement tool</h4></div>
            <div class="modal-body" id="w1ModalArea">
              <ul class="list-unstyled outerList"> 
                <li>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <button  data-toggle="tooltip" title="measure length" data-dojo-attach-event='onClick:startMeasureLength'> 
                                <i class="ms ms-line" aria-hidden="true"></i>
                            </button>
                        </li>   
                        <li>
                            <button  data-toggle="tooltip" title="measure area" data-dojo-attach-event='onClick:startMeasureArea'> 
                                <i class="ms ms-polygon" aria-hidden="true"></i>
                            </button>
                        </li>  
                        <li>
                            <button  data-toggle="tooltip" title="clear measurement" data-dojo-attach-event='onClick:clearMeasurement'> 
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </li>   
                        <li>
                            <button data-toggle="tooltip" title="stop measurement" data-dojo-attach-event='onClick:stopMeasurement'> 
                                <i class="fa fa-stop-circle" aria-hidden="true"></i>
                            </button>
                        </li>    
                        <li>
                            <button data-toggle="tooltip" title="enable/disable geodesic measurement" data-dojo-attach-event="onClick:geodesic" >
                                <i class="ms ms-globe" aria-hidden="true"></i>
                            </button>
                        </li> 
                    </ul>
                </li>
                <li>
                    <div>                     
                        <span data-dojo-attach-point="measureModeTextNode"></span>
                    </div>
                </li>  
                 <li>
                    <div>                     
                        <span data-dojo-attach-point="geodesicModeTextNode"></span>
                    </div>
                </li>  
              </ul>	
                <button type="button" class="close" data-toggle="tooltip" title="help" style="margin-right: 0px; margin-top: -14px;" data-dojo-attach-event='onClick:startHelp'>
                  <div class="flipthis-wrapper">
                     <span aria-hidden="true">&iexcl;</span>
                  </div>
                </button> 
            </div> 
        </div>

    </div>
</div>