<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <div class="flipthis-wrapper">
                     <span aria-hidden="true">&times;</span>
                   </div>
               </button> 
               <h4 class="modal-title">bookmarks</h4>
            </div>
            <div class="modal-body" id="w8ModalArea">
                    <ul class="list-unstyled outerList"> 
                        <li>
                            <ul class="list-inline list-unstyled">                                 
                                <div id="bookmarkList" data-dojo-attach-point="bookmarkList" class="list"></div> 
                                <input id="bookmark" type="text" data-dojo-attach-point="bookmark"/> 
                                <button type="button"  data-dojo-attach-event="onClick:addBookmark">
                                    Add 
                                </button>                                         
                            </ul>
                        </li>
                    </ul> 
            </div> 
        </div>

    </div>
</div>



 
    
    
   
 

