<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"> 
           <div class="modal-header"> 
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <div class="flipthis-wrapper">
                     <span aria-hidden="true">&times;</span>
                   </div>
               </button> 
               <h4 class="modal-title">print</h4></div>
            <div class="modal-body" id="w6ModalArea">
                 <ul class="list-unstyled outerList"> 
                   <li>
                    <ul class="list-inline list-unstyled">
                        <li>
                              <label>size </label>
                              <select data-dojo-attach-point="printformat" id="w6format">
                                <option value="a0">A0 (slow)</option>
                                <option value="a1">A1</option>
                                <option value="a2">A2</option>
                                <option value="a3">A3</option>
                                <option value="a4" selected>A4</option>
                                <option value="a5">A5 (fast)</option>
                              </select>
                        </li>  
                        <li>
                            <label>resolution </label>
                              <select  data-dojo-attach-point="printresolution" id="w6resolution">
                                <option value="72">72 dpi (fast)</option>
                                <option value="150">150 dpi</option>
                                <option value="300">300 dpi (slow)</option>
                              </select>
                        </li>
                        <li>
                            <label>name </label>
                            <input type="text" data-dojo-attach-point="printname" id="w6name"/>
                        </li>
                        <li>
                            <button data-dojo-attach-event="onClick:printToPdf" > 
                                Print PDF
                            </button>                     
                        </li>
                     </ul>
                   </li>
                </ul> 
            </div> 
        </div>

    </div>
</div>